<nav
  class="w-full h-[10%] bg-slate-700 text-white flex items-center justify-between text-xl font-semibold py-5 px-5 gap-20"
>
  <h1 class="text-xl font-semibold">Blog Website</h1>

  <div class="flex gap-10 items-center">
    <a class="hover:text-zinc-300" href="/">Home</a>
    <a class="hover:text-zinc-300" href="/createblog">Create Blog</a>
    <a class="hover:text-zinc-300" href="/about">About</a>
    <a class="hover:text-zinc-300" href="/contact">Contact</a>
  </div>
  <div class="gap-5">
    <a class="bg-emerald-600 p-2 rounded hover:bg-slate-700" href="/register"
      >Register</a
    >
    <a class="bg-emerald-600 p-2 rounded hover:bg-slate-700" href="/login"
      >Login</a
    >
  </div>
</nav>
