<%- include("partials/header")%>
<%- include("partials/nav")%>

<div class="w-[70%] mt-5 p-5 mx-auto bg-slate-700">
    <h1 class="text-white font-semibold text-5xl">Contact US</h1>
  </div>

<%- include("partials/footer")%>