<%- include("partials/header")%>
<%- include("partials/nav")%>

<div class="w-[70%] mt-5 p-5 mx-auto">
    <h1 class="text-5xl font-semibold">Register</h1>
    <form action="/register" method="">
        <input class="w-1/2 p-2 mt-5 border-solid border-2 border-indigo-200  rounded " type="text" placeholder="Enter the username" name="username">
        <input class="w-1/2 p-2 mt-5 border-solid border-2 border-indigo-200  rounded " type="email" placeholder="Enter the email" name="email">
        <input class="w-1/2 p-2 mt-5 border-solid border-2 border-indigo-200  rounded " type="password" placeholder="Enter the new password" name="password">
        <button class="w-1/2 p-2 mt-5 rounded bg-emerald-600 hover:bg-emerald-700 font-semibold text-2xl text-white">Register</button>
    </form>
</div>


<%- include("partials/footer")%>